<h1 class="text-center" style="padding: 30px 0;"><%= @experience.name %></h1>

<%= cl_image_tag @experience.photo, transformation: { width: :auto, heigth: 500, crop: :fill }, class: "img-responsive center-block" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <div class="card-show card-guide">
        <div class="card-category-show"><strong>Climb Details:</strong></div>
        <div class="card-description-show">
          <p><%= @experience.description %></p>
          <h3><strong>Mountain:</strong> <%= @experience.mountain.name %></h3>
          <h3><strong>City:</strong> <%= @experience.mountain.city %></h3>
          <h3><strong>Max Participants:</strong> <%= @experience.capacity %></h3>
          <h3><strong>Duration:</strong> <%= @experience.duration %> hours</h3>
          <h3><strong>Price per person:</strong> R$ <%= @experience.price %></h3>
        </div>

      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="card-show card-guide">
        <img class="card-user-show" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <div class="card-description-show">
          <h2><strong>Guide Name:</strong> <%= @experience.user.first_name %> <%= @experience.user.last_name %></h2>
          <p><%= @experience.user.bio %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h3 class= "text-center" style="padding-top: 32px;">Book this experience:</h3>
      <div style="padding-top: 22px; padding-bottom: 96px;"><%= render "form" %></div>

    </div>
  </div>

</div>

</div>


